.ppp {
  position: absolute;
  top: 6rem;
}

.cult1 {
  position: relative;
  top: 60rem;
  text-align: center;
  display: grid;
}

.cult1h2 {
  margin-right: 2rem;
  font-size: xxx-large;
  font-weight: 900;
}

.cult1h5 {
  font-size: x-large;
}

.cename2 {
  display: flex;
  margin-left: 9rem;
}

.c22 {
  width: 37.5rem;
  margin-left: 50rem;
  height: 34rem;
  padding-top: 4rem;
  margin-top: -1.2rem;
  background: #2c2c2c;
  border-radius: 8px;
}

.js2img2 {
  margin-top: -4rem;
}

.js1img2 {
  margin-left: -16rem;
  width: 38rem;
  margin-top: -19rem;
  padding-top: 15rem;
}

.c12 {
  padding: 4rem;
  background: #181818;
  height: 34rem;
  width: 38rem;
  margin-left: 9rem;
  border-radius: 8px;
  float: left;
}

.extra {
  position: absolute;
  background: rgb(50, 50, 52);
  left: 61rem;
  top: 72rem;
  border-radius: 10px;
  border: 1px solid rgba(181, 134, 32, 0.3);
  z-index: -2;
  width: 23rem;
  height: 24.6rem;
}

.limg {
  width: 4rem;
}

.splogo1 {
  display: flex;
  text-align: center;
  margin-top: 3rem;
  margin-left: 32rem;
  padding-right: 28rem;
}

.s1 {
  text-align: center;
  margin-top: 9rem;
}

.lgh4 {
  font-size: 1rem;
  width: 103px;
}

.sp1 {
  font-size: 3rem;
  font-weight: 700;
  margin-right: 2rem;
  position: relative;
  top: 1rem;
}

.sprow1 {
  padding: 2px 2rem 1px 1px;
}
