.navul1 {
  display: flex;
  margin-left: 14rem;
  float: left;
  margin-top: 1rem;
}

.navimg {
  float: left;
  width: 135px;
}

.navimg1 {
  position: relative;
  top: 10px;
  left: 50px;
  width: 161%;
}

.nav1s {
  background: white;
  color: black;
  height: 6.5rem;
}

ul {
  list-style-type: none;
}

.navul1 li {
  padding: 1.3rem 3.1rem;
  padding-top: 13px;
  font-weight: bold;
  color: #000000;
  line-height: 20px;
  font-family: sans-serif;
  font-size: 23px;
  cursor: pointer;
  text-align: center;
  opacity: 100%;
}

.navul1 li:hover {
  background-color: #d0d0d0;
}

.navlogo1 {
  width: 3rem;
  padding-top: 11px;
  margin-left: 4rem;
}

.navlogo2 {
  width: 3rem;
  padding-top: 11px;
  margin-left: 2rem;
}

.caras {
  position: relative;
  bottom: 1rem;
}

.makecardimg {
  width: 430px;
}

.makecarddiv2 {
  margin-top: 1rem;
  opacity: 80%;
  color: black;
}
.makecarddiv3 {
  font-size: 20px;
  color: black;
  font-weight: 700;
}

.makecarddiv4 {
  display: flex;
  color: black;
  margin-top: 5px;
}

.makecardp {
  padding-right: 27px;
  font-size: 19px;
}

.makecard {
  width: max-content;
  margin-left: 5rem;

  background-color: white;
}

.navbar-brand {
  padding: 5px 2rem;
}

.navbar-img {
  width: 203px;
  height: 66px;
}
.card {
  width: 31rem;
  float: left;
  border-radius: 0px;
  border: none;
  background-color: white;
  position: relative;
  left: 16rem;
}

.flex {
  margin-left: -13rem;
}

.stylishname {
  color: #000000;
  width: fit-content;
  margin-left: 7.8rem;
}
.ghnt {
  font-family: Poppins-Bold, Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;
  font-style: italic;
  font-size: 46px;
  font-weight: bold;
}

.thik {
  font-size: 31px;
  line-height: 35px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.6);
}

.nav-link {
  font-size: 24px;
  font-weight: 700;
  opacity: 100%;
}

#navbarNav {
  padding-left: 29rem;
}

.nav-item {
  padding-right: 54px;
}

.navimg2 {
  width: 26px;
  height: 26px;
}

.navimg3 {
  width: 26px;
  height: 26px;
}

.navimg4 {
  width: 26px;
  height: 26px;
}

#app1app {
  background: transparent;
  font-size: 21px;
  border-radius: 5px;
  padding: 0px 2px;
  font-weight: 700;
}

#app1app:hover {
  border: 2px solid rgba(255, 255, 255, 0.5);
}

#banda {
  padding-left: 2rem;
}

#jpr:hover {
  background: rgb(255 255 255 / 10%);
  border-radius: 10px;
}

.navimg3:hover {
  background: rgb(255 255 255 / 10%);
  border-radius: 50%;
}

#bas {
  position: fixed;
}

.deimg1 {
  width: 100%;
  padding-bottom: 27px;
}

.delg {
  color: rgb(0, 0, 0);
  font-family: BrandonTextWeb-Medium;
  text-transform: uppercase;
  font-weight: 800;
}

.detitle {
  width: 100%;
  font-size: 33px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  color: #000;
  padding: 8px 1px 1.5rem 1px;
  -webkit-flex: 7;
  -moz-box-flex: 7;
  -ms-flex: 7;
  flex: 7;
}

.deprize {
  font-size: 27px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  color: #ff3278;
  padding-top: 4px;
}
.depreprize {
  margin-left: 2rem;
  font-size: 27px;
  opacity: 80%;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  color: #030303;
  text-decoration: line-through;
  padding-top: 4px;
}

.deoff {
  color: rgb(255, 255, 255);
  background: rgb(245, 166, 35);
  padding: 15px 29px;
  line-height: 34px;
  position: relative;
  bottom: 3px;
  left: 1rem;
}

.dep1 {
  padding: 3rem 1px;
  color: rgb(142, 138, 138);
  font-size: 21px;
}
.dechoosesize2 {
  color: #ff3278;
  padding-left: 1rem;
}

.desizepattern {
  display: flex;
}

.xs {
  border: 1px solid transparent;
  padding: 4px 21px;
  text-align: center;
  height: 51px;
  line-height: 40px;
  margin: 8px 5px;

  border-radius: 50%;
  cursor: pointer;
}
.xs:hover {
  border: 1px solid rgb(255, 200, 10);
}
.debtn1 {
  height: auto;
  width: 100%;
  border-radius: 52px;
  background: #ff385a;
  background-image: linear-gradient(265deg, #fd2f6e, #f7433c);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 17px 0;
  cursor: pointer;
  padding-right: 3px;
  margin-right: 11px;
}
.debtn {
  display: flex;
}
.debtn1:hover {
  box-shadow: 0 6px 8px 0 hsl(0deg 0% 48% / 30%);
  transition: box-shadow 0.3s ease-in-out;
  color: #fff;
}

.deli {
  color: #4a4a4a;
  text-align: left;
  opacity: 0.92;
  line-height: 1.64;
  font-size: 21px;
  list-style: disc;
}

.noti {
  background: #fc2779;
  position: absolute;
  right: 5rem;
  border-radius: 50%;
  font-weight: 700;
  top: 5px;
  width: 20px;
  text-align: center;
  height: 17px;
  color: #ffffff;
  padding: 3px 21px 29px 12px;
}

.deprode {
  padding-top: 4rem;
}

.hprode {
  color: #4a4a4a;
  opacity: 0.92;
  line-height: 22px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 21px;
  padding-bottom: 1rem;
}

.dehr {
  color: #000;
  width: 100%;
  height: 3px;
  border: 1px solid #1d1a1a;
  opacity: 0.24;
}

.deinputde {
  color: #000;
  font-family: Inter-Regular, Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;
  font-weight: 600;
  font-size: 15px;
  min-height: 40px;
  padding: 7px 12px;
  width: 96%;
  margin-left: 1rem;
  margin-top: 1rem;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.deli2 {
  font-size: 19px;
}

.line2 {
  margin: 10px 0px;
  background-color: #d8d8d8;
  opacity: 0.24;
  height: 2px;
  background: #1d1a1a;
}
.nav-link {
  font-size: 2rem;
  font-weight: 800;
}

.despi {
  color: #4a4a4a;
  font-size: 19px;
  padding-top: 2rem;
  opacity: 0.92;
  line-height: 22px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.delst {
  padding: 2rem;
  font-size: 19px;
}

.final {
  width: 101px;
  height: 133px;
}
