/* .tp {
  position: relative;
  top: 65rem;

  margin-bottom: 73rem;
}

.cmn1h3 {
  color: rgb(255 210 109);
  font-size: 2rem;
  font-weight: 700;
}

.cmnh22 {
  color: rgb(255 210 109);
}

.h32 {
  color: rgb(255 210 109);
  font-size: xx-large;
  font-weight: 500;
  width: 23rem;
  margin-left: 26rem;
  float: left;
  position: relative;
  bottom: 40.7rem;
  background: rgb(50, 50, 52);
  border-radius: 10px;
  border: 1px solid rgba(181, 134, 32, 0.3);
  padding: 4rem 1rem 30rem 1rem;
  text-align: center;
  left: 10rem;
}

.cmn1 {
  margin-left: 0rem;
  width: 23rem;

  margin-left: 11rem;

  text-align: center;
  padding: 6rem 2rem;
  background: rgb(50, 50, 52);
  border-radius: 10px;
  border: 1px solid rgba(181, 134, 32, 0.3);
}

.cmn1img {
  padding: 2rem 0;
}
.cmnh51 {
  font-size: x-large;
  width: 17rem;
}

.cmn2h3 {
  margin-left: 11rem;
  width: 23rem;
  text-align: center;
  font-size: 36px;
  margin-top: 1.5rem;
  padding: 6rem 0 2rem 0;
  background: rgb(50, 50, 52);
  border-radius: 10px;
  border: 1px solid rgba(181, 134, 32, 0.3);
  color: rgb(255 210 109);
  background-image: url(https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_370,q_auto:eco,dpr_1.25,f_auto,fl_progressive/image/test/glass-card-feature-widget/cult-pass-black/fourth-feature-background-v2.png);
  background-size: 26rem;
}

.cmn1vd {
  width: 3rem;

  margin-left: 3rem;
}

.ay {
  height: 25rem;
  padding: 5rem 1rem 20rem 1rem;
  margin-left: 41rem;
  position: relative;
  bottom: 40.7rem;
  width: 47vh;
  left: 20rem;
}

.cmn2h2 {
  margin-top: 2rem;
}

.cmn2img {
  width: 17rem;
  margin-left: 65rem;
  margin-top: -36rem;
}

.cmnh53 {
  margin-top: -14rem;
  margin-left: 14rem;
  font-weight: 700;
  font-size: 20px;
}

.cmnh33 {
  margin-top: -17rem;
  margin-left: 4rem;
  font-size: 1.8rem;
  width: 13rem;
  color: rgb(255 210 109);
}

.cmnimg2 {
  border: 2px solid;
  height: 16rem;
  width: 23rem;
  padding: 5rem;
  position: relative;
  bottom: 4rem;
  right: 4rem;
  height: 15rem;
  background: rgb(50, 50, 52);
  border-radius: 10px;
  border: 1px solid rgba(181, 134, 32, 0.3);
} */
