.homelogo {
  width: 30%;
  /* text-align: center; */
  margin-top: 15rem;
}

.center {
  text-align: center;
}

.svg1 {
  width: 61rem;
  margin-top: -40rem;
  margin-left: -26rem;
}

.gredi {
  position: absolute;
  z-index: -5;
  height: 1080%;
  width: 100%;
}

.svg2 {
  width: 51rem;
  margin-left: -17rem;
  margin-top: -10rem;
}

.svg3 {
  margin-top: -50rem;
  margin-left: 61.3rem;
  width: 31rem;
  transform: rotatey(6deg);
}

.svg4 {
  margin-top: -21rem;
  margin-left: 61rem;
  width: 33rem;
  position: absolute;
  transform: rotate(356deg);
}

.homeh1 {
  text-align: center;
  width: 48rem;
  margin-left: 23rem;
  margin-top: -6rem;
}

.homebtn {
  margin-left: 41.6rem;
  margin-top: 2rem;
}

.ffterhome {
  height: 23rem;
  position: relative;
  top: 24rem;
  padding-left: 9rem;
  margin-left: 0rem;
  background: black;
}

.hbtn2 {
  border-radius: 4px;
  background-color: #f2f2f2;
  padding: 10px;
  font-size: 15px;
  color: coral;
  opacity: 100%;
}

.hbtn2:hover {
  color: black;
  opacity: 8;
}

.erro {
  margin-left: 46.6rem;
  width: 1.55rem;
  margin-top: 1.5rem;
}
/* 
.top {
  margin-top: -3rem;
} */

.video {
  display: block;
  width: 100%;
  transition: opacity 600ms ease 0s;
  position: absolute;
  object-fit: cover;
  height: 126vh;
  will-change: transform;
  opacity: 1;
  z-index: -2;
  bottom: -9rem;
}

.ianimate {
  position: absolute;
  width: 37%;
  left: 11rem;
  top: 29rem;
}

.ianimate1 {
  position: absolute;
  width: 40%;
  left: 53rem;
  top: 30rem;
}

.box1 {
  width: 12rem;
  text-align: center;
  line-height: 25px;
  float: left;
}

.box {
  position: relative;
  float: left;
  margin-left: 4rem;
  left: 6.5rem;
  top: 12rem;

  background: rgb(255 255 255 / 5%);
  border: 1pxsolidrgb (255 255 255 / 20%);
  flex-basis: 30%;
  backdrop-filter: blur(50px);
  border-radius: 10px;
  padding: 25px 0px 20px;
  transition: all 300ms ease;
  cursor: pointer;
  background: rgb(255 255 255 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 4px 5rem;
}

.imgc {
  margin: 1rem auto;
  width: 8rem;
}

.h1 {
  position: absolute;
  top: 32rem;
  left: 34rem;
  width: 26rem;
  font-weight: revert;
}

.anim1 {
  width: 30rem;
  position: absolute;
  top: 64rem;
  right: 62rem;
}
.anim2 {
  width: 24rem;
  position: absolute;
  top: 63rem;
  right: 5rem;
}
.anim3 {
  width: 20rem;
  position: absolute;
  top: 66rem;
  right: 36rem;
}

.p1 {
  position: relative;
  left: -47rem;
  top: 88.3rem;
  width: 16rem;
  height: 20rem;
  border-radius: 9px;
}

.p4 {
  width: 16rem;
  position: relative;
  height: 20rem;
  border-radius: 9px;
  top: 28.3rem;
  left: 16rem;
}

.p5 {
  position: relative;
  border-radius: 9px;
  width: 16rem;
  height: 20rem;
  bottom: -8.3rem;
  left: 48.7rem;
}

.p6 {
  border-radius: 9px;
  position: relative;
  width: 16rem;
  bottom: 11.7rem;
  height: 20rem;
  left: 32.4rem;
}

.p3 {
  position: relative;
  top: 69rem;
  width: 16rem;
  height: 20rem;
  border-radius: 9px;
  left: 16rem;
}

.p7 {
  width: 16rem;
  height: 20rem;
  border-radius: 9px;
  position: relative;
  left: 32.5rem;
  bottom: 11rem;
}

.p8 {
  position: relative;
  left: 49rem;
  bottom: 31rem;
  width: 16rem;
  height: 20rem;
  border-radius: 9px;
}

.p2 {
  width: 16rem;
  height: 20rem;
  position: relative;
  top: 88.3rem;
  border-radius: 9px;
  left: 65.4rem;
}
<<<<<<< HEAD
<<<<<<< HEAD

.row {
  width: 76rem;
}
=======
>>>>>>> 6a47ac9c60c3e4e148b679e419f88e8d8c0df42c
=======
>>>>>>> 6a47ac9c60c3e4e148b679e419f88e8d8c0df42c
.checkout-icon {
  position: relative;
  top: 5rem;
  left: 1rem;
}
.demo1 {
  width: 22rem;
}

.ahref {
  margin-top: -13rem;
  margin-left: 10rem;
}

.demo2 {
  width: 22rem;
}

.demo3 {
  width: 22rem;
}

.col-4 {
  padding: 0 2rem;
}

.dd1 {
  position: relative;
  left: 11rem;
  bottom: 16rem;
  width: 75rem;
}

.demoim1 {
  width: 7rem;
}

.demodiv1 {
  margin-top: -5rem;
  margin-left: 2rem;
}

.btm1 {
  margin-top: 3rem;
  position: relative;
  right: 2rem;
}

li {
  margin-left: -1rem;
  font-size: 21px;
  opacity: 70%;
  line-height: 36px;
}

.demodiv1 h6 {
  opacity: 100%;
}

.demo1:hover {
  width: 23rem;
}

.demo3:hover {
  width: 23rem;
}

.demo2:hover {
  width: 23rem;
}

.headd {
  text-align: center;
  position: relative;
  bottom: 24rem;
}

.fitli {
  position: relative;
  top: 6rem;
  font-size: 19px;
  font-weight: 500;
}

.gredi1 {
  position: absolute;
  left: -8rem;
  bottom: 10rem;
  z-index: -2;
  padding: 3rem;
  width: 44rem;
}

.gredi2 {
  position: absolute;
  bottom: 19rem;
  left: 23rem;
  width: 31rem;
  padding: 3rem rem;
  z-index: -2;
}

.bestbtn1 {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 5px 2.5rem;
  background: rgb(255 255 255 / 10%);
  color: white;
  backdrop-filter: blur(50px);
  font-weight: 700;
  margin-left: -1.7rem;
  margin-top: 4rem;
}

.bestbtn1:hover {
  background: rgb(255 255 255 / 20%);
}

.bestbtn2 {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 5px 2.5rem;
  background: rgb(255 255 255 / 10%);
  color: white;
  backdrop-filter: blur(50px);
  font-weight: 700;
  margin-left: -1.7rem;
  margin-top: 1rem;
}

.bestbtn2:hover {
  background: rgb(255 255 255 / 20%);
}

.bestbtn3 {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 5px 2.5rem;
  background: rgb(255 255 255 / 10%);
  color: white;
  backdrop-filter: blur(50px);
  font-weight: 700;
  margin-left: -1.7rem;
  margin-top: 6.3rem;
}

.bestbtn3:hover {
  background: rgb(255 255 255 / 20%);
}

.bestbtn-1 {
  border-radius: 5px;
  padding: 6px 2.4rem;
  margin-left: 159px;
  width: max-content;
  position: relative;
  bottom: 2.3rem;
  font-weight: 700;
  color: #f06055;
}

.bestbtn-1:hover {
  color: black;
}

.bestbtn-2 {
  border-radius: 5px;
  padding: 6px 2.4rem;
  margin-left: 159px;
  width: max-content;
  position: relative;
  bottom: 2.3rem;
  font-weight: 700;
  color: #f06055;
}

.bestbtn-2:hover {
  color: black;
}

.bestbtn-3 {
  border-radius: 5px;
  padding: 6px 2.4rem;
  margin-left: 159px;
  width: max-content;
  position: relative;
  bottom: 7.5rem;
  font-weight: 700;
  color: #f06055;
}

.bestbtn-3:hover {
  color: black;
}

.raw2 {
  text-align: left;
  float: right;
  position: relative;
  right: 9rem;
  bottom: 2rem;
}
.raw1 {
  text-align: left;
  float: right;
  position: relative;
  right: 9rem;
  bottom: 5rem;
}

.tpcol1 {
  background-image: url(https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_400,ar_1.164,q_auto:eco,dpr_1.25,f_auto,fl_progressive//image/test/four-square-card/cult-transform-glass-green.png);
  width: 31rem;
  height: 27rem;
  background-repeat: no-repeat;
  margin: 0 2rem;
}

.tpcol2 {
  background-image: url(https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_400,ar_1.164,q_auto:eco,dpr_1.25,f_auto,fl_progressive//image/test/four-square-card/glass-blog-multi-color.png);
  width: 31rem;
  height: 27rem;
  background-repeat: no-repeat;
  margin: 0 2rem;
}
.tpcol3 {
  background-image: url(https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_400,ar_1.164,q_auto:eco,dpr_1.25,f_auto,fl_progressive//image/test/four-square-card/glass-workout-gear.png);
  width: 31rem;
  height: 27rem;
  background-repeat: no-repeat;
  margin: 0 2rem;
}

.tpcol4 {
  background-image: url(https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_400,ar_1.164,q_auto:eco,dpr_1.25,f_auto,fl_progressive//image/test/four-square-card/sugar-fit-glass-purple.png);
  width: 31rem;
  height: 27rem;
  background-repeat: no-repeat;
  margin: 0 2rem;
}

.title {
  padding: 1rem;
}

.sign {
  position: relative;
  bottom: 6rem;
  left: 26rem;
}

.sign img {
  width: 3rem;
}

.tpcol1:hover {
  box-shadow: 0px 0px 20px 12px #070707;
}

.tpcol2:hover {
  box-shadow: 0px 0px 20px 12px #070707;
}

.tpcol3:hover {
  box-shadow: 0px 0px 20px 12px #070707;
}

.tpcol4:hover {
  box-shadow: 0px 0px 20px 12px #070707;
}

.tip {
  padding: 3rem;
  position: relative;
  left: 9rem;
  background-color: #85a4bf;
  border-radius: 20px;
  top: 5rem;
}

.tipc1 {
  width: 19rem;
  margin-right: 3rem;
}

.imgr1 {
  width: 21rem;
  border-radius: 25px;
  margin-left: -3rem;
}

.imgr1 {
  width: 21rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.imgr2 {
  width: 21rem;
  border-radius: 25px;
  margin-left: 4rem;
}

.imgr3 {
  width: 21rem;
  border-radius: 25px;
  margin-left: 1rem;
}
.imgr4 {
  width: 21rem;
  border-radius: 25px;
  margin-left: 4rem;
}

.end {
  margin-bottom: 1rem;
}

.enda a {
  display: block;
  text-align: left;
  cursor: default;
  margin: 0;
  color: rgb(0 0 0 / 70%);
  font-size: 18px;
  font-family: Inter-Medium, Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;
  letter-spacing: 0px;
  line-height: 39px;
  white-space: nowrap;
  margin-bottom: 1rem;
  width: 18rem;
  padding-left: 14px;
  padding-top: 5px;
  height: 3rem;
  border-radius: 24px;
  margin-left: -1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.enda a:hover {
  background: white;
  color: #070707;
}

.enda {
  margin-top: 4rem;
}

.eq {
  margin-left: 0rem;
  margin-top: 4rem;
}

.fash {
  position: relative;
  top: 12rem;
  left: 8rem;
  border-radius: 32px;
  padding: 4rem;
  height: 25rem;
  width: 76.6rem;
  background-image: url(https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_1200,ar_2.66,q_auto:eco,dpr_1.25,f_auto,fl_progressive//image/test/download-app/download-app-variant-2.png);
}

.hh {
  width: 24rem;
}

.h6 {
  padding-top: 2rem;
  padding-bottom: 7rem;
}

.applelogo {
  float: left;
}

.im1 {
  width: 9rem;
}

.im2 {
  width: 10rem;
  margin: 0 1rem;
}

.next {
  text-align: center;
  margin-top: 15rem;
}

.n1 {
  font-weight: 700;
  font-size: 70px;
  padding: 2rem;
}

.na1 {
  background-image: url(https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_600,q_auto:eco,dpr_1.25,f_auto,fl_progressive//image/test/join-the-cult/career-at-cult.png);
  width: 31rem;
  height: 19rem;
  margin-left: 10rem;
  border-radius: 32px;
  /* background-image: url(https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_600,ar_2.4,q_auto:eco,dpr_2,f_auto,fl_progressive//image/test/join-the-cult/career-icons-v2.png); */
}

.na2 {
  background-image: url(https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_600,q_auto:eco,dpr_1.25,f_auto,fl_progressive//image/test/join-the-cult/cult-for-business.png);
  width: 31rem;
  height: 19rem;
  margin-left: 11rem;
  border-radius: 32px;
}

.nh11 {
  margin-left: 6rem;
  width: 17rem;
  margin-top: 2rem;
}

.nbtn1 {
  margin-top: 9rem;
  margin-left: 0rem;
  color: #f06055;
  width: 7rem;
  border-radius: 9px;
  font-weight: 700;
  width: 8rem;
  padding: 4px;
}

.nr {
  width: 92rem;
}

.nh12 {
  text-align: center;
  cursor: pointer;
  margin-left: 2rem;
  color: white;
  width: 28rem;
  font-weight: 600;
  font-size: 45px;
  margin-top: 1rem;
  font-family: Inter-Bold, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  letter-spacing: 0.01px;
  line-height: 60px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(115deg, #f8ba00 12%, #ef5fa7 80%);
}

.nh5 {
  width: 25rem;
  margin-left: 3rem;
  margin-top: 2rem;
  text-align: center;
}

.na2 {
  margin-left: 184px;
}

.txt {
  width: 39rem;
  margin-left: 56rem;
  margin-top: -33rem;
  opacity: 70%;
  font-size: 22px;
}

.mmimg {
  width: 95rem;
  position: absolute;
  top: 438rem;
  right: 2rem;
}

.iiimg {
  margin-left: -3rem;
  width: 105rem;
}

.nbtn2 {
  border-radius: 9px;
  font-weight: 700;
  width: 8rem;
  padding: 4px;
  color: #f06055;
}

.lastdiv1 {
  position: relative;
  top: 32rem;
  background: #1a1818;
  padding-left: 8rem;
}
