body {
  background-color: black;
}

.flot {
  float: left;
  display: flex;
  position: relative;
  bottom: 8px;
  left: 9rem;
}
.flot1 {
  float: left;
  margin-right: 3rem;
  opacity: 70%;
}

.flot1:hover {
  opacity: 100%;
}
.opt {
  margin: 2rem;
}

.heading {
  float: left;
}

img {
  position: relative;
  opacity: 1;
  transition: opacity 150ms ease 0s;
  top: 9px;
  left: 9px;
  width: 40%;
}

.end {
  color: aliceblue;
  position: relative;
  top: 22px;
  left: 128px;
}

h5 {
  cursor: pointer;
  margin: 0;
  color: white;
  font-size: 18px;
  font-family: Inter-Bold, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  letter-spacing: 0px;
  line-height: 22px;
}

.location {
  text-align: center;
  cursor: pointer;
  margin: 0;
  color: rgb(255 255 255 / 60%);
  font-size: 12px;
  font-family: Inter-Regular, Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;
  letter-spacing: 0.5px;
  line-height: 22px;
  margin-right: 10px;
  margin-top: -4px;
  max-width: 95px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 29px;
  padding-left: 18px;
  padding-right: 16px;
  padding-top: 7px;
  padding-bottom: 27px;
  border-radius: 3px;
}

.location:hover {
  background: rgb(255 255 255 / 10%);
}

.app {
  text-align: center;
  cursor: pointer;
  margin: 0;
  color: white;
  font-size: 12px;
  font-family: Inter-Regular, Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;
  letter-spacing: 0.5px;
  line-height: 22px;
  white-space: nowrap;
  border: 2px solid;
  padding: 3px;
  border-radius: 4px;
  position: relative;
  left: 11px;
  bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
}

.app:hover {
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.icon {
  transition: all 100ms ease;
  margin-right: 1rem;
  margin-left: 2rem;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 4px 10px;
  position: relative;
  bottom: 12px;
}

.icon:hover {
  background: rgba(255, 255, 255, 0.1);
}

.icon1 {
  transition: all 100ms ease;
  width: 30px;
  height: 30px;
  padding-left: 5px;
  border-radius: 50%;
  padding-top: 2px;
  position: relative;
  bottom: 9.5px;
}

.icon1:hover {
  background: rgba(255, 255, 255, 0.1);
}
